version: 2
updates:
- package-ecosystem: nuget
  directory: "/"
  schedule:
    interval: monthly
    time: "17:00"
  open-pull-requests-limit: 0 # disabled until https://github.com/dependabot/dependabot-core/issues/369 is resolved.
  ignore:
  - dependency-name: Microsoft.EntityFrameworkCore.Design
    versions:
    - "> 2.2.6"
  - dependency-name: Microsoft.EntityFrameworkCore.Sqlite
    versions:
    - "> 2.2.6"
  - dependency-name: Microsoft.EntityFrameworkCore.Sqlite.Core
    versions:
    - "> 2.2.6"
  - dependency-name: Microsoft.Extensions.DependencyInjection
    versions:
    - ">= 5.a, < 6"
  - dependency-name: NUnit3TestAdapter
    versions:
    - ">= 3.16.a, < 3.17"
  - dependency-name: Microsoft.NET.Test.Sdk
    versions:
    - 16.9.1
  - dependency-name: Microsoft.Extensions.DependencyInjection
    versions:
    - 3.1.11
    - 3.1.12
  - dependency-name: Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson
    versions:
    - 3.1.11
  - dependency-name: Microsoft.NETCore.Targets
    versions:
    - 5.0.0
  - dependency-name: Microsoft.AspNetCore.SignalR.Protocols.MessagePack
    versions:
    - 5.0.2
  - dependency-name: NUnit
    versions:
    - 3.13.1
  - dependency-name: Microsoft.AspNetCore.SignalR.Client
    versions:
    - 3.1.11
