*.pfx
*.user
*DS_Store*
*/bin/
*/obj/
*/Build/
*.suo
*.idea
*.dmg

*.docstates

Staging/

.dropbox
*desktop.ini
*Icon

*.dpkg-dist
*.ucf-dist

packages/*
!packages/repositories.config
.vs/*

*.userprefs
