<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2007-2016 ppy Pty Ltd <contact@ppy.sh>.
Licensed under the MIT Licence - https://raw.githubusercontent.com/ppy/osu-framework/master/LICENCE
-->

<packages>
  <package id="ppy.OpenTK" version="1.1.2225.2" targetFramework="net45" />
</packages>