<!--
Copyright (c) 2007-2016 ppy Pty Ltd <contact@ppy.sh>.
Licensed under the MIT Licence - https://raw.githubusercontent.com/ppy/osu-framework/master/LICENCE
-->

<configuration>
  <dllmap os="linux" dll="bass" target="libbass.x86.so" wordsize="32"/>
  <dllmap os="linux" dll="bass_fx" target="libbass_fx.x86.so" wordsize="32"/>
  <dllmap os="linux" dll="bass" target="libbass.x64.so" wordsize="64"/>
  <dllmap os="linux" dll="bass_fx" target="libbass_fx.x64.so" wordsize="64"/>
</configuration>
