<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleName</key>
	<string>osu!lazer</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>Mirai.SampleGame-iOS</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>osu! URLs</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>osu://</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>osu! Beatmap</string>
			<key>UTTypeIdentifier</key>
			<string>ppy.osu.lazer.beatmap</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>osu!lazer</string>
				<string>public.zip</string>
				<string>osu!</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>osz</string>
				<key>public.mime-type</key>
				<string>application/x-osu-lazer-beatmap</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>osu! Skin</string>
			<key>UTTypeIdentifier</key>
			<string>ppy.osu.lazer.skin</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>osu!lazer</string>
				<string>public.zip</string>
				<string>osu!</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>osk</string>
				<key>public.mime-type</key>
				<string>application/zip</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>osu! Beatmap</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ppy.osu.lazer.beatmap</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>osu! Skin</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ppy.osu.lazer.skin</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
