<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FFmpeg.AutoGen" version="4.0.0.4" targetFramework="xamarinios10" />
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="xamarinios10" />
  <package id="ManagedBass" version="2.0.4" targetFramework="xamarinios10" />
  <package id="ManagedBass.Fx" version="2.0.1" targetFramework="xamarinios10" />
  <package id="Markdig" version="0.15.0" targetFramework="xamarinios10" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.6.1" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="2.9.0" targetFramework="xamarinios10" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="2.9.0" targetFramework="xamarinios10" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="xamarinios10" />
  <package id="NUnit" version="3.10.1" targetFramework="xamarinios10" />
  <package id="ppy.Microsoft.Diagnostics.Runtime" version="0.9.180305.1" targetFramework="xamarinios10" />
  <package id="ppy.osu.Framework" version="0.0.7620" targetFramework="xamarinios10" />
  <package id="ppy.osu.Framework.iOS" version="0.0.7620" targetFramework="xamarinios10" />
  <package id="ppy.osuTK.iOS" version="1.0.41" targetFramework="xamarinios10" />
  <package id="ppy.osuTK.NS20" version="1.0.41" targetFramework="xamarinios10" />
  <package id="SharpFNT" version="1.0.0" targetFramework="xamarinios10" />
  <package id="SixLabors.Core" version="1.0.0-beta0006" targetFramework="xamarinios10" />
  <package id="SixLabors.ImageSharp" version="1.0.0-beta0005" targetFramework="xamarinios10" />
  <package id="System.AppContext" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Buffers" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Collections" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="xamarinios10" />
  <package id="System.Console" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.FileVersionInfo" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.StackTrace" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Globalization" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Linq" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Memory" version="4.5.1" targetFramework="xamarinios10" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="xamarinios10" />
  <package id="System.Reflection" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="xamarinios10" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="xamarinios10" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Text.Encoding.CodePages" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XPath.XDocument" version="4.3.0" targetFramework="xamarinios10" />
</packages>