<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FFmpeg.AutoGen" version="4.0.0.4" targetFramework="xamarinios10" />
  <package id="Humanizer" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.af" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.ar" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.bg" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.bn-BD" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.cs" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.da" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.de" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.el" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.es" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.fa" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.fi-FI" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.fr" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.fr-BE" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.he" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.hr" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.hu" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.id" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.it" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.ja" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.lv" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.nb" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.nb-NO" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.nl" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.pl" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.pt" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.ro" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.ru" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.sk" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.sl" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.sr" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.sr-Latn" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.sv" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.tr" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.uk" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.uz-Cyrl-UZ" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.uz-Latn-UZ" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.vi" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.zh-CN" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.zh-Hans" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Humanizer.Core.zh-Hant" version="2.5.1" targetFramework="xamarinios10" />
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="xamarinios10" />
  <package id="ManagedBass" version="2.0.4" targetFramework="xamarinios10" />
  <package id="ManagedBass.Fx" version="2.0.1" targetFramework="xamarinios10" />
  <package id="Markdig" version="0.15.0" targetFramework="xamarinios10" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.6.1" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="2.9.0" targetFramework="xamarinios10" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="2.9.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Data.Sqlite.Core" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Microsoft.EntityFrameworkCore" version="2.1.4" targetFramework="xamarinios10" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="2.1.4" targetFramework="xamarinios10" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="2.1.4" targetFramework="xamarinios10" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="2.1.4" targetFramework="xamarinios10" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite" version="2.1.4" targetFramework="xamarinios10" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite.Core" version="2.1.4" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.1.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.1.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Logging" version="2.1.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="xamarinios10" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="xamarinios10" />
  <package id="NUnit" version="3.10.1" targetFramework="xamarinios10" />
  <package id="ppy.Microsoft.Diagnostics.Runtime" version="0.9.180305.1" targetFramework="xamarinios10" />
  <package id="ppy.osu.Framework" version="0.0.7633" targetFramework="xamarinios10" />
  <package id="ppy.osu.Framework.iOS" version="0.0.7633" targetFramework="xamarinios10" />
  <package id="ppy.osuTK.iOS" version="1.0.41" targetFramework="xamarinios10" />
  <package id="ppy.osuTK.NS20" version="1.0.41" targetFramework="xamarinios10" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="xamarinios10" />
  <package id="SharpCompress" version="0.22.0" targetFramework="xamarinios10" />
  <package id="SharpFNT" version="1.0.0" targetFramework="xamarinios10" />
  <package id="SharpRaven" version="2.4.0" targetFramework="xamarinios10" />
  <package id="SixLabors.Core" version="1.0.0-beta0006" targetFramework="xamarinios10" />
  <package id="SixLabors.ImageSharp" version="1.0.0-beta0005" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.1.11" targetFramework="xamarinios10" />
  <package id="System.AppContext" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Buffers" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Collections" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="xamarinios10" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.0" targetFramework="xamarinios10" />
  <package id="System.Console" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.FileVersionInfo" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.StackTrace" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Globalization" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="xamarinios10" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Linq" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Memory" version="4.5.1" targetFramework="xamarinios10" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="xamarinios10" />
  <package id="System.Reflection" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="xamarinios10" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="xamarinios10" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XPath.XDocument" version="4.3.0" targetFramework="xamarinios10" />
</packages>