<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2007-2018 ppy Pty Ltd <contact@ppy.sh>.
Licensed under the MIT Licence - https://raw.githubusercontent.com/ppy/osu/master/LICENCE
-->
<configuration>
  <appSettings>
    <add key="StagingFolder" value="Staging" />
    <add key="ReleasesFolder" value="Releases" />
    <add key="GitHubAccessToken" value="" />
    <add key="GitHubUsername" value="ppy" />
    <add key="GitHubRepoName" value="osu" />
    <add key="ProjectName" value="osu.Desktop" />
    <add key="NuSpecName" value="osu.Desktop\osu.nuspec" />
    <add key="SolutionName" value="osu" />
    <add key="TargetName" value="osu.Desktop" />
    <add key="PackageName" value="osulazer" />
    <add key="IconName" value="lazer.ico" />
    <add key="CodeSigningCertificate" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DeltaCompressionDotNet.MsDelta" publicKeyToken="46b2138a390abf55" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.18.1.0" newVersion="0.18.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>