<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2007-2017 ppy Pty Ltd <contact@ppy.sh>.
Licensed under the MIT Licence - https://raw.githubusercontent.com/ppy/osu/master/LICENCE
-->
<packages>
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net452" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="NuGet.CommandLine" version="3.5.0" targetFramework="net452" developmentDependency="true" />
  <package id="Splat" version="2.0.0" targetFramework="net452" />
  <package id="squirrel.windows" version="1.5.2" targetFramework="net452" />
</packages>