<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2007-2016 ppy Pty Ltd <contact@ppy.sh>.
Licensed under the MIT Licence - https://raw.githubusercontent.com/ppy/osu-framework/master/LICENCE
-->

<packages>
  <package id="ManagedBass" version="0.23.2" targetFramework="net45" />
  <package id="ManagedBass.PInvoke" version="0.4.1" targetFramework="net45" />
  <package id="ppy.OpenTK" version="1.1.2225.2" targetFramework="net452" />
  <package id="ppy.OpenTK.GLControl" version="1.1.2225.0" targetFramework="net452" />
  <package id="SharpFont" version="3.1.0" targetFramework="net45" />
  <package id="SharpFont.Dependencies" version="2.6" targetFramework="net45" />
</packages>