<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2007-2016 ppy Pty Ltd <contact@ppy.sh>.
Licensed under the MIT Licence - https://raw.githubusercontent.com/ppy/osu/master/LICENCE
-->
<packages>
  <package id="DotNetZip" version="1.10.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="ppy.OpenTK" version="1.1.2225.3" targetFramework="net45" />
  <package id="sqlite-net-pcl" version="1.2.0" targetFramework="net45" />
  <package id="SQLitePCLRaw.bundle_green" version="1.0.1" targetFramework="net45" />
  <package id="SQLitePCLRaw.core" version="1.0.1" targetFramework="net45" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.0.1" targetFramework="net45" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.0.1" targetFramework="net45" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.0.1" targetFramework="net45" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.0.1" targetFramework="net45" />
</packages>
