<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2007-2018 ppy Pty Ltd <contact@ppy.sh>.
Licensed under the MIT Licence - https://raw.githubusercontent.com/ppy/osu/master/LICENCE
-->
<packages>
  <package id="DotNetZip" version="1.10.1" targetFramework="net461" />
  <package id="Humanizer" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.af" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.ar" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.bg" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.bn-BD" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.cs" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.da" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.de" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.el" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.es" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.fa" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.fi-FI" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.fr" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.fr-BE" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.he" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.hr" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.hu" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.id" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.it" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.ja" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.lv" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.nb" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.nb-NO" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.nl" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.pl" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.pt" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.ro" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.ru" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.sk" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.sl" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.sr" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.sr-Latn" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.sv" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.tr" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.uk" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.uz-Cyrl-UZ" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.uz-Latn-UZ" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.vi" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.zh-CN" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.zh-Hans" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.zh-Hant" version="2.2.0" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="net461" />
  <package id="Microsoft.Data.Sqlite.Core" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Design" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite.Core" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.EntityFrameworkCore.Tools" version="2.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="NUnit" version="3.8.1" targetFramework="net461" />
  <package id="ppy.OpenTK" version="3.0.13" targetFramework="net461" />
  <package id="Remotion.Linq" version="2.1.2" targetFramework="net461" />
  <package id="SharpCompress" version="0.18.1" targetFramework="net461" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.8" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="1.1.8" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.8" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.8" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.8" targetFramework="net461" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.8" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net461" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>