<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2007-2016 ppy Pty Ltd <contact@ppy.sh>.
Licensed under the MIT Licence - https://raw.githubusercontent.com/ppy/osu/master/LICENCE
-->

<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="ppy.OpenTK" version="2.0.50727.1339" targetFramework="net45" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="net45" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="net45" />
  <package id="SQLiteNetExtensions" version="1.3.0" targetFramework="net45" />
</packages>