<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.5.0" targetFramework="net45" />
  <package id="ppy.OpenTK" version="2.0.50727.1337" targetFramework="net45" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="net45" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="net45" />
</packages>
